.container {
  max-width: 900px;
  margin: auto;
  padding: 10px 20px;
}

.backButton {
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 10px 20px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 5px 5px 0px black;
  transition: all 0.2s ease;
  margin-bottom: 15px;
  display: inline-block;
}

.backButton:hover {
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0px black;
  background-color: #ffde03;
}

.imageWrapper {
  border: 3px solid black;
  box-shadow: 12px 12px 0px black;
  margin-bottom: 20px;
}

.mainImage {
  width: 100%;
  display: block;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0 0 15px 0;
  text-transform: uppercase;
}

.abstract {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 40px;
}

.sourceLink {
  display: inline-block;
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: 900;
  border: 3px solid black;
  box-shadow: 5px 5px 0px #ffde03;
  transition: all 0.2s ease;
}

.sourceLink:hover {
  background-color: #ffde03;
  color: black;
  box-shadow: 5px 5px 0px black;
}
